body {
    font-family: "Helvetica Neue", "Helvetica", "Calibri", "sans"
}

.decks {
}

.deck {
    font-style: italic;
}

.deck .deck-author {
    font-style: normal;
    font-weight: lighter;
    color: #999;
}

.deck-info .deck-author {
    font-style: normal;
    font-size: small;
    font-weight: lighter;
    color: #999;
}

.deck button.queue {
}

.library {
}

.player {
    color: #eee;
    background-color: #333;
}
